body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}

.content {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 16px 8px 16px;
}

.highlight {
    font-weight: bolder;
}

.icon {
    border-radius: 64px;
    margin: 32px auto;
}

.title {
    font-size: 18px;
    line-height: 32px;
}

.description {
    line-height: 64px;
}

.contact-set {
    display: table;
    float: right;
}

.contact-set .contact {
    display: table-row;
}

.contact-set .contact * {
    display: table-cell;
    text-align: left;
    font-size: 14px;
}

.contact-set .contact *:first-child {
    padding-right: 5px;
}

@media (max-width: 360px) {
}